

.tick-y-cross {
    stroke: lightgray;
}

.tick text {
    font-size: 1.2rem;
}

.y-axis-label {
    font-size: 1.2rem;
}

.chart-data {
    fill: none;
    stroke-width: 1px;
}

#chart-data-historical {
    stroke: darkcyan;
}

#chart-data-csu {
    stroke: darkgreen;
}

#chart-data-actual {
    stroke: #ea7c12;
}

#chart-data-prediction {
    stroke: #ea7c12;
    stroke-dasharray: 4px 3px;
}

#chart-data-median {
    stroke: darkblue;
}

#chart-data-median-proj {
    stroke: #5656b4;
    stroke-dasharray: 4px 3px;
}

#chart-data-quartiles {
    stroke: none;
    fill: rgba(96, 96, 255, 0.4)
}

#chart-data-quartiles-proj {
    stroke: none;
    fill: rgba(223, 223, 255, 0.4)
}

#end-date-marker {
    stroke: darkgray;
}

#selected-date-marker {
    stroke: darkgray;
    stroke-dasharray: 4px 3px;
}

#past-date-shading {
    stroke: none;
    fill: rgb(247 247 247 / 80%);
}

#tooltip-box {
    padding: 6px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: white;
    border: 1px solid rgb(100, 100, 100);
    font-family: Arial, sans-serif;
}

.tooltip-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip-icon {
    width: 15px;
    height: 0;
    margin-right: 5px;
}

#tooltip-icon-hist {
    border-bottom: 2px solid darkcyan;
}

#tooltip-icon-csu {
    border-bottom: 2px solid darkgreen;
}

#tooltip-icon-actual {
    border-bottom: 2px solid #ea7c12;
}

#tooltip-icon-proj {
    border-bottom: 2px solid darkblue;
}

#tooltip-icon-iqr {
    height: 10px;
    background: rgba(96, 96, 255, 0.4);
}

#tooltip-date {
    font-size: 0.75rem;
    margin: 0 0 5px 0;
}

.tooltip-text {
    font-size: 0.75rem;
    margin: 3px 0;
}

.tooltip-text-label {
    display: inline-block;
    width: 60px;
}


@media only screen and (max-width: 500px) {

    #tooltip-box {
        padding: 4px;
    }

    .tooltip-icon {
        width: 11px;
        margin-right: 4px;
    }

    #tooltip-date {
        font-size: 0.65rem;
    }

    .tooltip-text {
        font-size: 0.65rem;
        margin: 2px 0;
    }

    .tooltip-text-label {
        width: 50px;
    }

}
