

.tick-y-cross {
    stroke: rgb(230,230,230);
}

.tick text {
    font-size: 1.0rem;
}

.y-axis-label {
    font-size: 1.0rem;
}

.chart-data {
    fill: none;
    stroke-width: 1px;
}

#chart-data-538 {
    stroke: #ff6c07;
}

#chart-data-sb {
    stroke: #0fad0f;
}

#chart-data-econ {
    stroke: #ff0000;
}

#chart-data-st {
    stroke: #8005a6;
}

#chart-data-poly {
    stroke: #1725ee;
}

#chart-data-mani {
    stroke: #6d29d8;
}

#chart-data-538-2020 {
    stroke: #646464;
    stroke-dasharray: 5px 3px;
}

#chart-data-y-midpoint {
    stroke: rgb(150,150,150);
    stroke-dasharray: 4px 3px;
}

.chart-data-backgrounded {
    stroke: rgb(200,200,200) !important;
}

.chart-data-foregrounded {
    stroke-width: 2px;
}

#selected-date-marker {
    stroke: darkgray;
    stroke-dasharray: 4px 3px;
}

#past-date-shading {
    stroke: none;
    fill: rgb(247 247 247 / 80%);
}

#tooltip-box {
    padding: 6px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: white;
    border: 1px solid rgb(100, 100, 100);
    font-family: Arial, sans-serif;
}

.tooltip-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.tooltip-row.tooltip-selected {
    background-color: rgb(220,220,220);
}

#tooltip-row-2020 {
    cursor: unset;
}

.tooltip-row:hover {
    background-color: rgb(240,240,240);
}

#tooltip-row-2020:hover {
    background-color: unset;
}

.tooltip-row.tooltip-selected:hover {
    background-color: rgb(220,220,220);
}

.tooltip-icon {
    width: 15px;
    height: 0;
    margin-right: 5px;
    margin-left: 3px;
}

#tooltip-icon-538 {
    border-bottom: 2px solid #ff6c07;
}

#tooltip-icon-sb {
    border-bottom: 2px solid #0fad0f;
}

#tooltip-icon-econ {
    border-bottom: 2px solid #ff0000;
}

#tooltip-icon-st{
    border-bottom: 2px solid #8005a6;
}

#tooltip-icon-poly{
    border-bottom: 2px solid #1725ee;
}

#tooltip-icon-mani {
    border-bottom: 2px solid #6d29d8;
}

#tooltip-icon-538-2020 {
    border-bottom: 2px dashed #646464;
}

#tooltip-date {
    font-size: 0.75rem;
    margin: 0 0 5px 0;
}

.tooltip-text {
    font-size: 0.75rem;
    margin: 3px 0;
}

.tooltip-text-label {
    display: inline-block;
    width: 70px;
}

#data-select-wrapper {
    padding: 6px;
    position: absolute;
    bottom: 30px;
    left: 45px;
    background: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-select-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.data-select-button {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    width: 45px;
    height: 15px;
    margin: 2px 0;
    background: white;
    cursor: pointer;
}

.button-left {
    border-right: 0;
}

.data-select-button:hover {
    background: rgb(240,240,240);
}

.data-select-button.selected {
    background: black;
    color: white;
}


@media only screen and (max-width: 500px) {

    #tooltip-box {
        padding: 4px;
    }

    .tooltip-icon {
        width: 11px;
        margin-right: 4px;
    }

    #tooltip-date {
        font-size: 0.65rem;
        margin: 0 0 2px 0;
    }

    .tooltip-text {
        font-size: 0.65rem;
        margin: 1px 0;
    }

    .tooltip-text-label {
        width: 60px;
    }

    #data-select-wrapper {
        padding: 4px;
        bottom: 30px;
        left: 35px;
    }

    .data-select-button {
        font-size: 0.65rem;
        width: 40px;
        height: 12px;
        margin: 1px 0;
    }

}
